ZEPHYR_HAL_ESPRESSIF_MODULE_DIR=/scratch/dima/rose-infra/RoSE/soc/sw/xpu-rt/zephyr-chipyard-sw/zephyr_ws/modules/hal/espressif
ZEPHYR_HAL_ST_MODULE_DIR=/scratch/dima/rose-infra/RoSE/soc/sw/xpu-rt/zephyr-chipyard-sw/zephyr_ws/modules/hal/st
ZEPHYR_ACPICA_MODULE_DIR=/scratch/dima/rose-infra/RoSE/soc/sw/xpu-rt/zephyr-chipyard-sw/zephyr_ws/modules/lib/acpica
ZEPHYR_CMSIS_MODULE_DIR=/scratch/dima/rose-infra/RoSE/soc/sw/xpu-rt/zephyr-chipyard-sw/zephyr_ws/modules/hal/cmsis
ZEPHYR_CMSIS_DSP_MODULE_DIR=/scratch/dima/rose-infra/RoSE/soc/sw/xpu-rt/zephyr-chipyard-sw/zephyr_ws/modules/lib/cmsis-dsp
ZEPHYR_CMSIS_NN_MODULE_DIR=/scratch/dima/rose-infra/RoSE/soc/sw/xpu-rt/zephyr-chipyard-sw/zephyr_ws/modules/lib/cmsis-nn
ZEPHYR_FATFS_MODULE_DIR=/scratch/dima/rose-infra/RoSE/soc/sw/xpu-rt/zephyr-chipyard-sw/zephyr_ws/modules/fs/fatfs
ZEPHYR_LITTLEFS_MODULE_DIR=/scratch/dima/rose-infra/RoSE/soc/sw/xpu-rt/zephyr-chipyard-sw/zephyr_ws/modules/fs/littlefs
ZEPHYR_LVGL_MODULE_DIR=/scratch/dima/rose-infra/RoSE/soc/sw/xpu-rt/zephyr-chipyard-sw/zephyr_ws/modules/lib/gui/lvgl
ZEPHYR_MBEDTLS_MODULE_DIR=/scratch/dima/rose-infra/RoSE/soc/sw/xpu-rt/zephyr-chipyard-sw/zephyr_ws/modules/crypto/mbedtls
ZEPHYR_MCUBOOT_MODULE_DIR=/scratch/dima/rose-infra/RoSE/soc/sw/xpu-rt/zephyr-chipyard-sw/zephyr_ws/bootloader/mcuboot
ZEPHYR_MIPI_SYS_T_MODULE_DIR=/scratch/dima/rose-infra/RoSE/soc/sw/xpu-rt/zephyr-chipyard-sw/zephyr_ws/modules/debug/mipi-sys-t
ZEPHYR_OPEN_AMP_MODULE_DIR=/scratch/dima/rose-infra/RoSE/soc/sw/xpu-rt/zephyr-chipyard-sw/zephyr_ws/modules/lib/open-amp
ZEPHYR_OPENTHREAD_MODULE_DIR=/scratch/dima/rose-infra/RoSE/soc/sw/xpu-rt/zephyr-chipyard-sw/zephyr_ws/modules/lib/openthread
ZEPHYR_PERCEPIO_MODULE_DIR=/scratch/dima/rose-infra/RoSE/soc/sw/xpu-rt/zephyr-chipyard-sw/zephyr_ws/modules/debug/percepio
ZEPHYR_PICOLIBC_MODULE_DIR=/scratch/dima/rose-infra/RoSE/soc/sw/xpu-rt/zephyr-chipyard-sw/zephyr_ws/modules/lib/picolibc
ZEPHYR_TINYCRYPT_MODULE_DIR=/scratch/dima/rose-infra/RoSE/soc/sw/xpu-rt/zephyr-chipyard-sw/zephyr_ws/modules/crypto/tinycrypt
